@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
body {
  font-family: 'Dosis';
}

button {
  font-family: 'Arial';
}


@font-face {
  font-family: "nodeflux";
  src:url("fonts/nodeflux.eot");
  src:url("fonts/nodeflux.eot?#iefix") format("embedded-opentype"),
    url("fonts/nodeflux.woff") format("woff"),
    url("fonts/nodeflux.ttf") format("truetype"),
    url("fonts/nodeflux.svg#nodeflux") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "nodeflux" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  /* speak: none; */
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "nodeflux" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  /* speak: none; */
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\64";
}
.icon-column:before {
  content: "\65";
}
.icon-copy:before {
  content: "\66";
}
.icon-delete:before {
  content: "\67";
}
.icon-edit:before {
  content: "\69";
}
.icon-get-dataset:before {
  content: "\6a";
}
.icon-notification:before {
  content: "\6d";
}
.icon-preview:before {
  content: "\6e";
}
.icon-publish:before {
  content: "\6f";
}
.icon-rearrange:before {
  content: "\70";
}
.icon-redo:before {
  content: "\71";
}
.icon-show:before {
  content: "\72";
}
.icon-theme:before {
  content: "\73";
}
.icon-undo:before {
  content: "\74";
}
.icon-cancel:before {
  content: "\63";
}
.icon-new-analytics:before {
  content: "\77";
}
.icon-plus:before {
  content: "\42";
}
.icon-cancel:before {
  content: "\44";
}
.icon-process-monitor:before {
  content: "\46";
}
.icon-settings:before {
  content: "\47";
}
.icon-logout:before {
  content: "\48";
}
.icon-data-market-place:before {
  content: "\49";
}
.icon-my-library:before {
  content: "\4a";
}
.icon-activity-monitor:before {
  content: "\4b";
}
.icon-duplicate:before {
  content: "\4d";
}
.icon-ungroup:before {
  content: "\51";
}
.icon-group:before {
  content: "\52";
}
.icon-n-logo:before {
  content: "\75";
}
.icon-execute-all:before {
  content: "\53";
}
.icon-save:before {
  content: "\54";
}
.icon-reset:before {
  content: "\55";
}
.icon-logo:before {
  content: "\76";
}
.icon-maximize:before {
  content: "\56";
}
.icon-minimize:before {
  content: "\57";
}
.icon-delete-border:before {
  content: "\7a";
}
.icon-flow-counting:before {
  content: "\5a";
}
.icon-logo-line:before {
  content: "\31";
}
.icon-noimg:before {
  content: "\32";
}
.icon-heatmap:before {
  content: "\33";
}
.icon-people-counting:before {
  content: "\59";
}
.icon-eraser:before {
  content: "\35";
}
.icon-plus-circle:before {
  content: "\36";
}
.icon-play:before {
  content: "\4c";
}
.icon-thumbnails:before {
  content: "\39";
}
.icon-photo-camera-1:before {
  content: "\23";
}
.icon-map-grid:before {
  content: "\34";
}
.icon-empty-profile:before {
  content: "\25";
}
.icon-search:before {
  content: "\26";
}
.icon-email:before {
  content: "\61";
}
.icon-upload:before {
  content: "\63";
}
.icon-config:before {
  content: "\4f";
}
.icon-dashboard:before {
  content: "\50";
}
.icon-feature:before {
  content: "\38";
}
.icon-logout-1:before {
  content: "\27";
}
.icon-home:before {
  content: "\28";
}
.icon-globe:before {
  content: "\29";
}
.icon-vas:before {
  content: "\2b";
}
.icon-venue:before {
  content: "\2c";
}
.icon-expand-arrow:before {
  content: "\41";
}
.icon-caret-up:before {
  content: "\43";
}
.icon-caret-down:before {
  content: "\68";
}
.icon-camera:before {
  content: "\79";
}
.icon-filter:before {
  content: "\2e";
}
.icon-eye:before {
  content: "\30";
}
.icon-check-circle:before {
  content: "\3a";
}
.icon-uncheck-circle:before {
  content: "\2f";
}
.icon-option:before {
  content: "\37";
}
.icon-pencil:before {
  content: "\21";
}
.icon-female:before {
  content: "\3b";
}
.icon-fight:before {
  content: "\3c";
}
.icon-male:before {
  content: "\3d";
}
.icon-help:before {
  content: "\3e";
}
.icon-truck:before {
  content: "\3f";
}
.icon-mobil:before {
  content: "\40";
}
.icon-motor:before {
  content: "\5b";
}
.icon-bus:before {
  content: "\5d";
}
.icon-link-external:before {
  content: "\5f";
}
.icon-right-arrow:before {
  content: "\60";
}
.icon-mobile-menu:before {
  content: "\7b";
}
.icon-option-v:before {
  content: "\7c";
}
.icon-history:before {
  content: "\7d";
}
.icon-pause:before {
  content: "\7e";
}
.icon-repeat:before {
  content: "\5c";
}
.icon-caret-down-1:before {
  content: "\e000";
}
.icon-download-button:before {
  content: "\e001";
}
.icon-vms:before {
  content: "\2d";
}
.icon-back:before {
  content: "\62";
}
.icon-pin:before {
  content: "\e002";
}
.icon-location:before {
  content: "\e003";
}
.icon-vehicleclass:before {
  content: "\e006";
}
.icon-fr-small-1:before {
  content: "\e009";
}
.icon-bar-crowdes:before {
  content: "\5e";
}
.icon-eye-1:before {
  content: "\e008";
}
.icon-set-as-ouput:before {
  content: "\e00a";
}
.icon-node-library:before {
  content: "\e00c";
}
.icon-trafiicsurv:before {
  content: "\e007";
}
.icon-crowdbeh:before {
  content: "\e00b";
}
.icon-plate:before {
  content: "\e00d";
}
.icon-crowd:before {
  content: "\4e";
}
.icon-arrows-ex:before {
  content: "\58";
}
.icon-new-visualization:before {
  content: "\78";
}
.icon-vehicle:before {
  content: "\4e";
}
.icon-settings-fill:before {
  content: "\e00e";
}
.icon-cog:before {
  content: "\e00e";
}
.icon-search2:before {
  content: "\6b";
}
.icon-menu-1:before {
  content: "\22";
}
.icon-lonceng:before {
  content: "\e00f";
}
.icon-crowd:before {
  content: "\e011";
}
.icon-garis-3:before {
  content: "\e012";
}
.icon-settings-work-tool:before {
  content: "\e013";
}
.icon-useraccess:before {
  content: "\6c";
}
.icon-menu:before {
  content: "\e005";
}
.icon-reload-symbol:before {
  content: "\e004";
}
.icon-list-1:before {
  content: "\e014";
}
.icon-map:before {
  content: "\24";
}
.icon-trajectoryflw:before {
  content: "\e016";
}
.icon-my-teams:before {
  content: "\45";
}
.icon-area-aquisition:before {
  content: "\e015";
}
.icon-flood:before {
  content: "\e017";
}
.icon-vehicle-intrusion:before {
  content: "\e018";
}
.icon-people-dwelling-1:before {
  content: "\e01a";
}
.icon-vehicle-dwelling:before {
  content: "\2a";
}
